extends ../layout

block content
	if user && user.name == content.owner
		.fixed-action-btn
			.btn-floating.btn-large.red.darken-2.tooltipped(data-position="left" data-tooltip="Edit")
				i.large.material-icons mode_edit
			ul
				li.btn-floating.red.tooltipped(data-position="left" data-tooltip="Delete")
					i.material-icons delete
				li.btn-floating.orange.tooltipped(data-position="left" data-tooltip="Add Version")
					i.material-icons plus_one
	.row
		.col.s12.l8
			h1= content.name
			h5 By: 
				a(href="/user/" + content.owner + "/")= content.owner
				if user && user.liked.includes(content.name)
					a.right.red-text(href="/content/details/" + content.name + "/like")
						i.material-icons favorite
				else
					a.right.black-text(href="/content/details/" + content.name + "/like")
						i.material-icons favorite_border
			hr
			.section
				!= description
		.col.s12.l4
			.card.small
				.card-image
					img(src=content.headerImage)
				.card-content
					p= content.shortDesc
					p &nbsp;
					for tag in content.tags
						.chip= tag
			.section
				ul.collapsible.popout(data-collapsible="accordion")
					for version in content.versions
						li
							if version.versionId == content.currentVersion
								.collapsible-header= version.versionId + " (Latest)"
									a.right(href=`/content/details/${content.name}/download/${version.versionId}`) Download
							else
								.collapsible-header= version.versionId
									a.right(href=href=`/content/details/${content.name}/download/${version.versionId}`) Download
							.collapsible-body= version.changelog